<nav class="navbar navbar-default"> {{!-- "navbar-fixed-top" --}}
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/albums">tune.ly</a>
		</div>
		<div class="nav navbar-nav navbar-right" id="user">
      {{#if user }}
        <div>
          <h3>Hello, {{user.fb.firstName}}</h3>
        </div>
        <a href="/logout">Logout</a>
      {{else}}
        <a class="" href="/auth/facebook">Login with Facebook</a>
      {{/if}}
	  </div>
  </div>
</nav>