* {
	border-radius: 0 !important;
}

body {
	font-family: 'Montserrat', sans-serif;
    color: #5D5D5D !important;
}

/*----------  FOR NAVBAR HEADER  ----------*/
.navbar {
	background: url("/images/sound_controller.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-brand {
	font-family: 'Gruppo', cursive;
	font-size: 10em;
	height: 1em;
    padding: 1.2em 9.5px;
    padding-left: .1em;
}

.navbar-brand:hover {
	text-decoration: none;
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-brand {
	color: #FFF9EA;
}

/*----------  FOR ALBUM INDEX THUMBNAILS  ----------*/
.index {
	margin-top: 5em;
}

img {
	border: 1px solid #aaaaaa;
	width: 200px;
    margin: 1em;
}

.attributes {
	font-weight: bold;
    padding-left: 1em;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.alb-thumb {
	display: inline-block;
}